.project-container {
    min-height: auto;
    min-width: auto;
    border-radius: 30px;
}

/* Tiêu đề chính */
.project-container h2 {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}